@charset "utf-8";
/* CSS Document */
body { margin: 0; padding: 0; background:#fff; font-size: 12px; line-height:22px; font-family:"Helvetica Neue", "sans-serif", "Arial","微软雅黑","宋体","Tahoma","Verdana","SimSun"; color: #3a3f53;  height:100%; min-width:1366px; text-transform:capitalize;}
td, p, div, a, form { margin: 0; padding: 0; }
ul, li , dl , dt, dd { margin: 0; padding: 0; list-style: none;  color: #3a3f53; }
input,select,textarea,button { margin: 0; padding: 0; font-size: 12px; font-family:"Helvetica Neue", "sans-serif","Arial","微软雅黑","宋体","Tahoma","Verdana","SimSun";  color: #3a3f53; outline:none; }
select, textarea{background-color: #fff; }
h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0; font-family:"Helvetica Neue", "sans-serif","Arial","微软雅黑","宋体","Tahoma","Verdana","SimSun";  color: #3a3f53; }
a img { border: none; }
img{vertical-align:top;}
a {color: #3a3f53; text-decoration:none;}
a:hover {color: #2473b7; text-decoration: underline; }
table {border-collapse: collapse;border-spacing: 0; text-transform:none;}
table th{text-transform:capitalize;}

.cboth{clear:both; font-size:1px; height:0px; line-height:0;}
.clearfix:after,.anu-list-box:after {visibility:hidden; display:block; font-size:1px; content:""; line-height:0; clear:both; height:0;overflow:hidden;}
.clearfix,.anu-list-box:after { zoom:1;}
/*滚动条*/
::-webkit-scrollbar-track-piece{background:rgba(255,255,255,0);-webkit-border-radius:3px;}/*滚动条样式背景颜色*/
::-webkit-scrollbar{width:8px;height:16px;-webkit-border-radius:4px;}/*滚动条宽高*/
::-webkit-scrollbar-thumb{width:200px;height:300px;background-color:rgba(0,0,0,0.2); -webkit-border-radius:3px;}/*垂直滚动条*/
.fl{float:left;}
.fr{float:right;}

.tc{text-align:center;}

.pr{position:relative;}

.pt2{padding-top:2px;}
.pt5{padding-top:5px;}
.pt7{padding-top:7px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}

.pl5{padding-left:5px;}
.pl6{padding-left:6px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl25{padding-left:25px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl120{padding-left:120px;}

.pr10{padding-right:10px;}

.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt24{margin-top:24px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt50{margin-top:50px;}
.ml5{margin-left:5px;}
.ml6{margin-left:6px;}
.ml10{margin-left:10px;}
.ml24{margin-left:24px;}
.ml60{margin-left:60px;}
.mb10{margin-bottom:10px;}
.mb32{margin-bottom: 32px;}

.mr5{margin-right:5px;}

.cfff{color:#fff;}
.cred{color:#f5040a;}
.cblue{color:#1aa6ff;}
.corange{color:#e06412;}
.cgreen{color:#71b04d;}
.cgray{color:#999;}


.fwb{font-weight:bold;}
.f14{font-size:14px;}
.font_arial{font-family:"Arial";}
.dis_none{display:none;}
.dib{ display:inline-block}

.w100{	width: 100px;}
.v-middle{vertical-align: middle}